spring:
  application:
    name: drool_v2

  datasource:
    url: jdbc:postgresql://localhost:5433/abacdb
    username: postgres
    password: Rin25052001
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=300s

server:
  port: 8081

